*{
    margin: 0;
    background-color: rgb(0, 12, 122);
}
#h1{
    color:#fff;
}

#nada{
    background-color:  rgb(0, 12, 122);
    padding-left: 10px;
    padding-top: 10px;
    color: rgb(202, 202, 202) ;
    font-size: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#seu{
    background-color: rgb(0, 12, 122); 
    padding-left: 10px;
    padding-top: 10px;
    color: rgb(202, 202, 202);
    font-size: 3vh;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vh;   
}

#formas{
    margin-left: 350px;
}

#ponto{
    margin-left: 200px;
    margin-top: 30px;
    color: rgb(0, 12, 122);
    width: 70%;
    height: 200px;
    background-color: #fff;
    border-radius: 30px;
}

#p{
    background-color: #fff;
    color:  rgb(0, 12, 122);
    border-radius: 20px;
    padding-top: 20px;
}

#cont {
    color: #ffffff;
    background-color: rgb(0, 12, 122); 
    text-decoration: none;
    font-weight: normal; 
    font-family: inherit;
    font-size: inherit;
    padding-left: 585px;
    font-size: 8vh;
    
}


#cont:link, 
#cont:visited {
    color: #ffffff; 
    background-color: rgb(0, 12, 122);
}

#cont:hover, 
#cont:active { 
    text-decoration: underline; 
    color: #ffffff; 
    background-color:  rgb(0, 12, 122); 
}

.container {
    margin: 20px;
    color: #fff;
}

select {
    display: block;
    margin-bottom: 20px;
    color: #fff;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
    background-color: #fff;

}